body {
    font-family: "Nunito", sans-serif;
}

.white-text {
    color: white;
}

.p-4 {
    padding: 1rem;
}

nav a {
    padding: 0.5rem;
}

.border-1 {
    border-width: 0.07rem;
}

.form div {
    margin-bottom: 15px;
}

.form div > input {
    display: block;
}

.form div > button {
    padding: 5px;
}

.form .form-error {
    font-size: 0.75rem;
    color: red;
    font-weight: bold;
}
